<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--mis estilos-->
    <style>
        .contenedordenegado{
            display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        }
    </style>
</head>
<body>
    {{> navempleado }}
    <div class="contenedordenegado">
       

                <img src="/img/denegado.png" alt="">
                <h1>Sin permiso para acceder :,(</h1>

        </div>
    </div>
</body>
</html>