{{> navempleado}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="/css/eventos.css">
</head>
<body>

<div class="flex-container">

  <div class="flex-child">
    <div class="card shadow">
        <div class="imagen">
      <img src="/img/noticia2.png" alt="">
      </div>
      <h2>Evento web «Bienvenidos al Restaurante Wanmin» ya disponible</h2>
      <p>Liyue, interior del Restaurante Wanmin.
En toda la calle abunda el olor a comida deliciosa, y es que el Restaurante Wanmin recibió una gran cantidad de clientes.
La chef Xiangling ya no da abasto con tantos pedidos, ¿por qué no vas a echarle una mano?</p>
    </div>
  </div>

    <div class="flex-child">
    <div class="card shadow">
        <div class="imagen">
      <img src="/img/noticia1.png" alt="">
      </div>
      <h2>Demo de personaje de Genshin Impact - Venti: El trabajo de un bardo (doblaje en inglés)</h2>
      <p>Teyvat es un continente lleno de vida y dinamismo. Los comerciantes transportan sus mercancías, los caballeros patrullan las calles, los campesinos cultivan la tierra, ¡incluso los astrólogos tienen una vida ajetreada! Pero los bardos... los bardos parecen ser la excepción que confirma la regla.</p>
    </div>
  </div>

    <div class="flex-child">
    <div class="card shadow">
    <div class="imagen">
      <img src="/img/noticia3.png" alt="">
      </div>
      <h2>Gachapón «Encarnación divina»: ¡Probabilidad de obtención de Elegía del Fin y Hoja Afilada Celestial aumentada!</h2>
      <p>En el evento de gachapón «Encarnación divina», ¡podrás obtener armas exclusivas y personajes para fortalecer tu equipo!</p>
    </div>
  </div>


</div>
</body>
</html>