{{> navempleado}}
 <div class="container">
    	<!--Categorias-->
		<header>

			<div class="categorias" id="categorias">
				<a href="#" class="activo">Todos</a>
				<a href="#">5 Estrellas</a>
				<a href="#">4 Estrellas</a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
		</header>
		<!--Proyectos-->
        <main>
		<section class="grid" id="grid" >
			
			<div class="item" 
				 data-categoria="5 estrellas"
				 data-etiquetas=""
				 data-descripcion="1.- Lorem ipsum dolor sit amet consectetur."		
				 data-contenido="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus sit, tenetur iure ex culpa officiis, quis itaque assumenda quas neque saepe autem error incidunt at numquam perspiciatis magnam doloremque!"		 
			>
				<div class="item-contenido">
					<img src="./public/img/Ilustraciones/albedo.jfif" alt="">
				</div>
			</div>
			
			<div class="item"
					data-categoria="4 estrellas"
					data-etiquetas=""
				    data-descripcion="9.- Lorem ipsum dolor sit amet consectetur.
				 	"
			>
				<div class="item-contenido">
					<img src="./public/img/Ilustraciones/Amber.jfif" alt="">
				</div>
			</div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Barbara.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Beidu.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Benito.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Chongyun.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Diluc.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/diona.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Fischl.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Ganyu.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Hu Tao.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Jean.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/kaeya.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/keking.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Klee.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Lisa.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Monass.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/ninguang.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Noelle.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/qiqi.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Razor.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Sacarosa.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Tartaglia.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/traveler.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/travelezzz.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Venti.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Chinkiu.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/xinyian.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/xianling.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/xiao.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="./public/img/Ilustraciones/Zhongli.jfif" alt="">
            </div>
            </div>

		</section>
        </main>
    </div>
