
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
     <!--FontAwesome-->
     
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
          
     <link rel="stylesheet" href="/css/galeria.css">
    <title>Document</title>
</head>
<body>

    {{> navempleado}}
    <div class="container">
    	<!--Categorias-->
		<div class="hd">

			<div class="categorias" id="categorias">
				<a href="#" class="activo">Todos</a>
				<a href="#">5 Estrellas</a>
				<a href="#">4 Estrellas</a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
		</div>
		<!--Proyectos-->
        <main>
		<section class="grid" id="grid" >
			
			<div class="item" 
				 data-categoria="5 estrellas"
				 data-etiquetas=""
				 data-descripcion="1.- Lorem ipsum dolor sit amet consectetur."		
				 data-contenido="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus sit, tenetur iure ex culpa officiis, quis itaque assumenda quas neque saepe autem error incidunt at numquam perspiciatis magnam doloremque!"		 
			>
				<div class="item-contenido">
					<img src="/img/Ilustraciones/albedo.jfif" alt="">
				</div>
			</div>
			
			<div class="item"
					data-categoria="4 estrellas"
					data-etiquetas=""
				    data-descripcion="9.- Lorem ipsum dolor sit amet consectetur.
				 	"
			>
				<div class="item-contenido">
					<img src="/img/Ilustraciones/Amber.jfif" alt="">
				</div>
			</div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Barbara.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Beidu.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Benito.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Chongyun.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Diluc.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/diona.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Fischl.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Ganyu.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Hu Tao.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Jean.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/kaeya.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/keking.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Klee.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Lisa.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Monass.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/ninguang.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Noelle.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/qiqi.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Razor.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Sacarosa.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Tartaglia.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/traveler.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/travelezzz.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Venti.jfif" alt="">
            </div>
            </div>


            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Chinkiu.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/xinyian.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="4 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/xianling.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/xiao.jfif" alt="">
            </div>
            </div>

            <div class="item"
            data-categoria="5 estrellas"
            data-etiquetas=""
            data-descripcion="9.- Lorem ipsum dolor sit amet consectetur">
            <div class="item-contenido">
            <img src="/img/Ilustraciones/Zhongli.jfif" alt="">
            </div>
            </div>

		</section>
        </main>
    </div>
        <script src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"></script>
        <script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
        <script src="./public/js/main.js"></script>
</body>
</html>
