{{> navempleado}}
    <div class="grid-container">
        <img class="grid-item" src="./public/img/Ilustraciones/albedo.jfif" alt="">
        <img class="grid-item" src="./public/img/Ilustraciones/Amber.jfif" alt="">
        <img class="grid-item" src="./public/img/main.jpg" alt="">
        <img class="grid-item" src="./public/img/Ilustraciones/Ganyu.jfif" alt="">
        <img class="grid-item" src="./public/img/Ilustraciones/albedo.jfif" alt="">
        <img class="grid-item" src="./public/img/Ilustraciones/Amber.jfif" alt="">
        <img class="grid-item" src="./public/img/main.jpg" alt="">
        <img class="grid-item" src="./public/img/Ilustraciones/Ganyu.jfif" alt="">
        <img class="grid-item" src="./public/img/Icon.png" alt="">
    </div>