<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genshin Impact</title>
    <link rel="shortcut icon" href="./public/img/Paimon.png" />
    <!--Mi css-->
    <link rel="stylesheet" href="/css/style.css">
    
    
</head>
<body>
{{> navempleado}}
    <section>
        <video autoplay="autoplay" loop="loop"  class="video_background" preload="auto" volume="50">
        <source src="https://genshin.mihoyo.com/_nuxt/videos/3e78e80.mp4" type="video/mp4" />
        </video>
        <main>
            <h4 class="wordCarousel">
                <span>Integrantes: </span>
                <div class="ct">
                    
                    <ul class="flip4">
                        <li class="list">Figueroa</li>
                        <li class="list">Josue</li>
                        <li class="list">Hu</li>
                        <li class="list">Rodrigo</li>
                    </ul>
                </div>
            </h4>

        </main>
    </section>
</body>
</html>