 

    <div id="back">

    </div>
    
    <div id="slideBox">
      <div class="topLayer">

        <div class="right">
          <div class="content">

        


            <h2>Inicio De Sesión</h2>
            <form id="form-login" method="POST" action="/empleados/signin">
              <div class="form-element form-stack">
                <label for="username-login" class="form-label">Correo</label>
                <input id="username-login" type="email" name="email">
              </div>
              <div class="form-element form-stack">
                <label for="password-login" class="form-label">Contraseña</label>
                <input id="password-login" type="password" name="password">
              </div>
              <div class="form-element form-submit">
                <button id="logIn" class="login" type="submit" name="login">Log In</button>
                <button id="goRight" class="login off" name="signup">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    