body{
    background-color: #F1F1F1;
}
.borde{

    border-bottom: 4px solid #008BBC;
}

.avatar{
    width: 28%;
}


.userimg{
    width: 40px;
    height: 40px;
}

/*para el logout*/
.margen{

   margin-right: 40px;
}