
 <div class="header"> 
   
{{#if user}}
  
        <div class="icono"  href="#">
            <img src="/img/Icon.png" alt="">
        </div>

  {{#each user}}
       {{#each pages}}
          <!--si existe el nombre de la pagina la mapea sino no-->
          {{#if namepage}}
           <a  href="/empleados/{{namepage}}">{{namepage}}</a>
          {{/if}}
       {{/each}}
      <a class=" disabled"  tabindex="-1" aria-disabled="true">{{email}}</a>
      
  {{/each}}
   <button class="button type1" href="/empleados/logout">
    LogOut
  </button>

  {{else}}
  <a class="navbar-brand" href="">Empleados</a>
{{/if}}
</div>







<br/><br/>

<!--alertas-->
<main class="container">
  {{> messages}}
{{> errors}}

</main>in>