



    {{> navbar}}



    <div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Recepción de datos</h2>
            </div>
            <div class="card-body">

                <form action="/users/add" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <!--columna imagenes-->
                        <div class="col d-flex flex-column align-items-center">
                            <!--imagen-->
                            <div class="form-group ">
                                <img id="image" alt="imagen user" class="img-thumbnail "  width="200" height="90px" src="/img/user.png" >
                            </div>
                            <!--oton subida-->
                            <div class="form-group">

                                <label>
                                    <div class="btn  btn-danger" > <i class="fas fa-upload p-1"></i>Imagen</div>
                                    <input  class="form-control" type="file" name="imagen" id="file" accept="image/*" hidden>
                                    {{!-- src="/img/images.png" --}}
                                </label>
                            </div>

                        </div>
                        <!--columna inputs-->
                        <div class="col ">
                            <div class="form-group">
                                <input type="text" class="form-control p-4" placeholder="Nombre" name="name"
                                    value="{{name}}" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control p-4" placeholder="Correo electronico"
                                    value="{{email}}" name="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control p-4" placeholder="Contraseña" name="password"
                                    value="{{password}}">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control p-4" name="confirm_password"
                                    placeholder="Confirma contraseña" value="{{confirm_password}}">
                            </div>
                        </div>
                    </div>

                    <hr/>
                    <h4 class="text-center">Permisos</h4>
                    <!--seccion para los checkbox-->
                    <div class="row d-flex justify-content-around align-items-center ">
                        <div class="form-inline col-mb-12 mb-4 ">
                            
                                <div class="input-group ml-2">
                                    <label>
                                        <input type="checkbox" aria-label="Checkbox for following text input" value="inicio" name="inicio">
                                        Página inicio
                                    </label>
                                </div>
                                <div class="input-group ml-2">
                                    <label>
                                        <input type="checkbox" aria-label="Checkbox for following text input" value="galeria" name="galeria">
                                        Página Galeria
                                    </label>
                                </div>
                                <div class="input-group ml-2">
                                    <label>
                                        <input type="checkbox" aria-label="Checkbox for following text input" value="mapa" name="mapa">
                                        Página Mapa
                                    </label>
                                </div>
                                <div class="input-group ml-2">
                                    <label>
                                        <input type="checkbox" aria-label="Checkbox for following text input" value="ilustraciones" name="ilustraciones">
                                        Página Ilustraciones
                                    </label>
                                </div>
                                <div class="input-group ml-2">
                                    <label>
                                        <input type="checkbox" aria-label="Checkbox for following text input" value="eventos" name="eventos">
                                        Página Eventos
                                    </label>
                                </div>
                              
                        </div>
                    </div>


                    <hr/>
                    <!--seccion boton guardar-->
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            Guardar
                            <i class="p-1 fas fa-save"></i>
                        </button>
                    </div>
                </form>
            </div>

        </div>
        <br />
    </div>
</div>



